<section id='libro' class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_libro">
          <div class="card">
            <div class="card-body text-center">
              <p><img class="imf-fluid" src="{{libro.portada}}" alt="{{libro.titulo}}"></p>
              <h4 class="card-title">{{libro.titulo}}</h4>
              <p class="card-text">
                {{libro.descripcion}}
              </p>
              <a href="{{libro.link_amazon}}" target="_blank" class="btn btn-block btn-primary">Link de Compra</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>